body {
  background-color: #7f8f1a;
  font-family: 'Silkscreen', cursive;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-gap: 0vmin;
  margin: 1em auto;
}
h2#message{
  margin: 0 auto;
  color: #061501;
  font-size: 32px;
}
h4#bombs{
  margin: 16px auto;
  font-size: 16px;
}
h1.title{
  margin: 32px auto;
  color:#061501;
  font-size: 64px;
  height: 100px;
}
.sqr-revealed{
  color : lightcoral
}

section>div {
  border: 4px ridge rgba(211, 220, 50, .6);
  font-size: 2vw;
  text-align: center;
  vertical-align: middle;
  background-color: antiquewhite;
  cursor: pointer;
  transition: border-width 0.1s linear;
}
section>div:hover{
  border-width: 5px;
}

button {
  font-family : inherit;
  width: 180px;
  height: 60px;
  background-color: #3d3d3d;  
  border: none;              
  color: #ffffff;            
  padding: 8px 16px;          
  font-size: 16px;            
  cursor: pointer;           
  outline: none;              
  filter: brightness(80%) grayscale(100%) saturate(120%);
  transition: all 0.3s ease;  
  margin: 50px auto;
}
button:hover{
  filter: brightness(100%) grayscale(0%) saturate(100%);
}

.difficulties-button{
  font-family : inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  margin: 2vh 3vw;
}
.difficulties-button>button{
  margin: auto 2vh;
}
footer{
  display: inherit;
  align-items: center;
  justify-content:center;
}
.toggle {
  --width: 80px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 5vw;
  top :80px;
}
.toggle_input {
  display: none;
}
.toggle_fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}
.toggle_fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle_input:checked ~ .toggle_fill {
  background: #009578;
}

.toggle_input:checked ~ .toggle_fill::after {
  transform: translateX(var(--height));
}
/* For most mobile devices */
@media (max-width: 600px) {
  h1.title{
    margin: 2vh auto;
    font-size: 5vmax;
  }
  button{
    margin: 7vh auto;
    width: 12vh;
    font-size: 3vw;
  }
  h2#message{
    margin: 2vh auto;
    color: #061501;
    font-size: 5vw;
  }
  .difficulties-button>button{
    margin: 0 1vh;
  }
  section>div {
    border: 2px ridge rgba(211, 220, 50, .6);
    font-size: 3.5vw;
    text-align: center;
    vertical-align: middle;
    background-color: antiquewhite;
    cursor: pointer;
    transition: border-width 0.1s linear;
  }
  .toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5vw;
    top :7vh
  }

}

